<!DOCTYPE html>
<html lang="en" data-ng-app="kissWebIdeApp">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" type="text/css" href="app.css">
        
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.min.js"></script>
        <script src="/libs/angularUi/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
        <script src="/libs/base64/base64.js"></script>
        
        <!-- components -->
        <script src="components/bot_web_api_services.js"></script>
        <script src="components/kiss_web_ide_services.js"></script>
        
        <!-- core app -->
        <script src="app.js"></script>
        
        <!-- views -->
        <script src="views/home/home.js"></script>
        <script src="views/target/target.js"></script>
        <script src="views/user/user.js"></script>
        <script src="views/projects/projects.js"></script>
        <script src="views/project/project.js"></script>
        <script src="views/file/file.js"></script>
        
        <!-- dialogs -->
        <script src="dialogs/target_select.js"></script>
        <script src="dialogs/list_select.js"></script>
        <script src="dialogs/create_file.js"></script>
        
        <title>KISS Web IDE</title>
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation" data-ng-controller="HeaderController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand title" data-ng-href="#/home">
                        KISS Web IDE <img src="resources/botguy-logo.png" alt="Botguy">
                    </a>
                </div>
                
                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                    <ul class="nav navbar-nav">
                        
                        <!-- Login / target view -->
                        <li data-ng-hide="target.loggedIn" data-ng-class="{active: $location.path() == '\target'}">
                            <a data-ng-click="openSelectTarget()">Log in to Target...</a>
                        </li>
                        <li class="dropdown"
                            data-ng-show="target.loggedIn && $location.path() == '/target'"
                            data-ng-class="{active: $location.path() == '/target'}">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button">
                                {{target.name}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-href="#/home" data-ng-click="target.logOut()">Log Out</a></li>
                                <li><a data-ng-click="openSelectTarget()"">
                                    Change Target
                                </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"
                            data-ng-show="target.loggedIn && $location.path() != '/target'"
                            data-ng-class="{active: $location.path() == '/target'}">
                            <a data-ng-href="#/target"
                               role="button">
                                {{target.name}} <span class="caret"></span>
                            </a>
                        </li>
                        
                        <!-- User view -->
                        <li data-ng-show="target.loggedIn" data-ng-class="{active: $location.path() == '/user'}">
                            <a data-ng-href="#/user">{{target.username}}</a>
                        </li>
                        
                        <!-- Projects view -->
                        <li data-ng-show="target.loggedIn"
                            data-ng-class="{active: $location.path() == '/projects'}">
                            <a href="#/projects">Projects</a>
                        </li>
                        
                        <!-- Project view -->
                        <li data-ng-show="!target.projectName && target.loggedIn"
                            data-ng-class="{active: $routeParams.projectName}">
                            <a data-ng-click="openSelectProject()">Select a Project...</a>
                        </li>
                        <li class="dropdown"
                            data-ng-show="target.projectName && $location.path() == '/project'"
                            data-ng-class="{active: $location.path() == '/project'}">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button">
                                {{target.projectName}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-click="openSelectProject()">Change Project</a></li>
                            </ul>
                        </li>
                        <li data-ng-show="target.projectName && $location.path() != '/project'"
                            data-ng-class="{active: $location.path() == '/project'}">
                            <a data-ng-href="#/project"
                               role="button">
                                {{target.projectName}} <span class="caret"></span>
                            </a>
                        </li>
                        
                        <!-- File view -->
                        <li data-ng-show="!target.fileName && target.projectName && target.loggedIn"
                            data-ng-class="{active: $routeParams.fileName}">
                            <a data-ng-click="openSelectFile()">Select a File...</a>
                        </li>
                        <li class="dropdown"
                            data-ng-show="target.fileName && $location.path() == '/file'"
                            data-ng-class="{active: $location.path() == '/file'}">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button">
                                {{target.fileName}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-click="openSelectFile()">Change File</a></li>
                            </ul>
                        </li>
                        <li data-ng-show="target.fileName && $location.path() != '/file'"
                            data-ng-class="{active: $location.path() == '/file'}">
                            <a data-ng-href="#/file"
                               role="button">
                                {{target.fileName}} <span class="caret"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            
        <div id="content_container" data-ng-view></div>
        
    </body>
</html>