<!DOCTYPE html>
<html lang="en" data-ng-app="kissWebIdeApp">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" type="text/css" href="app.css">
        
        <script src="/libs/jquery/jquery-2.1.1.min.js"></script>
        <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="/libs/angularjs/angular.min.js"></script>
        <script src="/libs/angularjs/angular-route.min.js"></script>
        <script src="/libs/angularui/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src="/libs/ace-builds/src-min-noconflict/ace.js"></script>
        <script src="/libs/base64/base64.js"></script>
        
        <!-- components -->
        <script src="components/bot_web_api_services.js"></script>
        <script src="components/kiss_web_ide_services.js"></script>
        
        <!-- core app -->
        <script src="app.js"></script>
        
        <!-- views -->
        <script src="views/home/home.js"></script>
        <script src="views/target/target.js"></script>
        <script src="views/user/user.js"></script>
        <script src="views/projects/projects.js"></script>
        <script src="views/project/project.js"></script>
        <script src="views/file/file.js"></script>
        
        <!-- dialogs -->
        <script src="dialogs/target_select.js"></script>
        <script src="dialogs/list_select.js"></script>
        <script src="dialogs/create_file.js"></script>
        <script src="dialogs/select_file.js"></script>
        
        <title>KISS Web IDE</title>
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation" data-ng-controller="HeaderController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#main-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand title" href="#/home">
                        KISS Web IDE <img src="resources/botguy-logo.png" alt="Botguy">
                    </a>
                </div>
                
                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                    <ul class="nav navbar-nav">
                        
                        <!-- Login / target view -->
                        <li data-ng-show="!target.loggedIn || $location.path() == '/target'"
                            class="dropdown"
                            data-ng-class="{active: $location.path() == '/target'}">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <small><small>Target:</small></small><br class="hidden-xs">
                                {{target.loggedIn ? target.name : 'No target selected'}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li data-ng-show="target.loggedIn">
                                    <a href="#/home" data-ng-click="target.logOut()">
                                        Log Out
                                    </a>
                                </li>
                                <li><a data-ng-click="openSelectTarget()">
                                    {{target.loggedIn ?  'Change target' : 'Log In'}}
                                </a></li>
                            </ul>
                        </li>
                        <li data-ng-show="target.loggedIn && $location.path() != '/target'">
                            <a href="#/target" role="button">
                                <small><small>Target:</small></small><br class="hidden-xs">
                                {{target.loggedIn ? target.name : 'No target selected'}} <span class="caret"></span>
                            </a>
                        </li>
                        
                        <!-- User view -->
                        <li data-ng-show="target.loggedIn" data-ng-class="{active: $location.path() == '/user'}">
                            <a href="#/user">
                                <small><small>User:</small></small><br class="hidden-xs">
                                {{target.username}}
                            </a>
                        </li>
                        
                        <!-- Workspace view -->
                        <li data-ng-show="target.loggedIn" data-ng-class="{active: $location.path() == '/projects'}">
                            <a href="#/projects">
                                <small><small>Workspace:</small></small><br class="hidden-xs">
                                {{target.workspaceName ? target.workspaceName : 'No workspace selected'}}
                            </a>
                        </li>
                        
                        <!-- Project view -->
                        <li data-ng-show="target.loggedIn && target.workspaceUri && $location.path() == '/project'"
                            class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <small><small>Project:</small></small><br class="hidden-xs">
                                {{target.projectName ? target.projectName : 'No project selected'}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-click="openSelectProject()">
                                    {{target.projectName ?  'Change project' : 'Open project'}}
                                </a></li>
                            </ul>
                        </li>
                        <li data-ng-show="target.loggedIn && target.workspaceUri && $location.path() != '/project'">
                            <a href="#/project" role="button">
                                <small><small>Project:</small></small><br class="hidden-xs">
                                {{target.projectName ? target.projectName : 'No project selected'}} <span class="caret"></span>
                            </a>
                        </li>
                        
                        <!-- File view -->
                        <li data-ng-show="target.projectName && $location.path() == '/file'" class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <small><small>File:</small></small><br class="hidden-xs">
                                {{target.fileName ? target.fileName : 'No file selected'}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-ng-click="openSelectFile()">Open file</a></li>
                            </ul>
                        </li>
                        <li data-ng-show="target.projectName && $location.path() != '/file'">
                            <a href="#/file" role="button">
                                <small><small>File:</small></small><br class="hidden-xs">
                                {{target.fileName ? target.fileName : 'No file selected'}} <span class="caret"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            
        <div id="content_container" data-ng-view></div>
        
    </body>
</html>