<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>
                <strong>Workspace:</strong> {{target.workspaceName}}
                <span class="btn-group navbar-right">
                    <button type="button"
                            class="btn btn-default disabled"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Help"
                            data-ng-click="help()">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                    &nbsp;
                </span>
                <span class="btn-group navbar-right">
                    <button type="button"
                            class="btn btn-default disabled"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Reload"
                            data-ng-click="refresh()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    &nbsp;
                </span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="btn-group-xs pull-right">
                        <button type="button"
                                class="btn btn-default"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Create Project"
                                data-ng-click="createItem()">
                            <span class="glyphicon glyphicon-file"></span>
                        </button>
                    </div>
                    <h3 class="panel-title">Projects</h3>
                </div>
                <div class="list-group">
                    <a data-ng-repeat="projectName in projectNames"
                       data-ng-click="selectItem(projectName)"
                       class="list-group-item"
                       data-ng-class="{active: target.projectName && target.projectName == projectName}">
                       {{projectName}}
                        <span class="btn-group-xs pull-right">
                            <button type="button"
                                    class="btn btn-default"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Delete Project"
                                    data-ng-click="deleteItem(projectName)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
